{% extends 'base.html.twig' %}

{% block title %}Hello StartPageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper
    {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
        background: #cebaba;
    }

    .example-wrapper code
    {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="example-wrapper">
    <h3>Title</h3>
    <h5>Some foo bar text.</h5>
    <h6>Comments:</h6>
    <ul>
        <li>comment foo bar text.<code><a href="">foo</a></code></li>
        <li>comment foo bar text.<code><a href="">bar</a></code></li>
    </ul>
</div>

    <div class="example-wrapper">
        <h3>Title</h3>
        <h5>Some foo bar text.</h5>
        <h6>Comments:</h6>
        <ul>
            <li>comment foo bar text.<code><a href="">foo</a></code></li>
            <li>comment foo bar text.<code><a href="">bar</a></code></li>
        </ul>
    </div>
{% endblock %}
